/* --------------- auth  --------------- */

.button_login {
    float:right;
    margin-right: 20%;
    margin-top: 2%;
    display: inline-block;
    border-radius: 4px;
    background-color: cornflowerblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
}


/* ---------------  Layout Page  --------------- */
.alert{
    display: block;
    background-color:red;
    height: 40px;
    line-height: 10px;
    text-align: center;
    border-radius: 4px;
    color: white;
    width: 30%;
    margin-left: 35%;
    top: 1%;
    position: absolute;
    animation: fadeinout 4s linear forwards;
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

#Title-navbar{
    margin-left: 2%;
}
#Title-navbar:hover{
    color: mediumseagreen;
}

.username-text{
    position: relative;
    text-align: center;
    display: inline;
    margin-top: 5%;
    width: auto;
}

.dropimg{
    position: relative;
    margin-left: 5px;
    max-width: 40px;
    max-height: 40px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline;
    position: fixed;
    right: 0;
    margin-right: 2%;
    max-width: 80%;
    margin-top: 2px;
    padding-bottom: 15px;
    padding-top: 15px;
    align-text: center;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 8px;
    padding-inline-start: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ---------------  Main page  --------------- */

#Table-title{
    margin-left: 15%;
    width: 50%;
    float: left;
}

.item-table {
    border-collapse: collapse;
    width: 100%;
}

.item-table th, td {
    text-align: center;
    padding: 8px;
}

.item-table tr:nth-child(even){background-color: #ccccff;}

.item-table tr:hover{
    background:#8080ff;
}

.item-table a{
    text-align: center;
    display: block;
    color:black;
}

.item-table th {
    background-color: #000099;
    color: white;
}
.item-table th button{
    border: none;
    background: none;
    display: block;
    color: white;
    cursor: pointer;
    width: 100%;
}

.menu{
    max-width: 95%;
    width:95%;
    display:inline;
    margin-top: 2%;
    float:left;
    margin-left:4%;
}

.menu #left{
    background-color: #000099;
    float:left;
    width: 17%;
    height: 70%;
}

.menu #left select {
    margin-left:10%;
    margin-top: 18%;
}


.menu #left input[type=number] {
    border-radius:3px;
    float:right;
    margin-top: 18%;
    margin-right: 20%;
    width: 30%;
}

.menu #left input[type=date] {
    border-radius:3px;
    float:right;
    text-align: center;
    margin-top: 18%;
    margin-right: 9%;
    width: 55%;
}
.menu #left label{
    color:white;
    margin-top: 18%;
    margin-left: 4%;
}
.menu #right{
    float:left;
    width: 80%;
    height: 70%;
    background-color: #ccccff;
    margin-left: 1%;
}

.menu #right img{
    max-width: 100px;
    max-height: 100px;
}

.menu #right .no_item_message{
    position: absolute;
    margin-top: 15%;
    margin-left: 33%;
    float: left;
}

.button4 {
    background-color: #3366ff;
    margin-top:12%;
    width: 80%;
    margin-left: 10%;
    float: left;
    margin-right: 22%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.5s;
    cursor: pointer;
}

.button4:hover {
    background-color: dodgerblue;
}

.filters {
    position: relative;
    display: block;
}

.filter_title{
    color: white;
    margin-left: 25%;
    font-size: 20px;
    margin-top: 20%;
}

#left form{
    display: none;
}

/* ---------------  Profile Page  --------------- */

.profile-header{
    margin-top: 3%;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

#profile-title{
    float:left;
    margin-left: 15%;
    witdh: 30%;
}

.button1 {
    float:right;
    margin-right: 22%;
    padding: 10px;
    border-radius: 4px;
    background-color: red;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
}

.profile-box{
    margin-top: 2%;
    margin-left: 15%;
    width: 70%;
}

.profile-box input[readonly]{
    outline: none;
    background-color: darkgrey;
    color: white;
}

.profile-box img{
    max-width: 50%;
    margin-bottom: 4.3%;
    margin-left: 25%;
    max-height: 90px;
}

.profile-box #left, #left2{
    display: inline-block;
    width:50%;
    float: left;
}

.profile-box #right, #right2{
    display: inline-block;
    margin:auto;
    width:50%;
}

.profile-box input, select{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button2 {
    float:right;
    margin-right: 3%;
    margin-top: 3.3%;
    display: inline-block;
    border-radius: 4px;
    background-color: #3366ff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    width: 15%;
}

.button_delete_item {
    width: 15%;
    float:right;
    margin-right: 10%;
    margin-top: 3.3%;
    display: inline-block;
    border-radius: 4px;
    background-color: red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
 }

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

/* --------------- Meus itens --------------- */

.meus_itens{
    max-width: 80%;
    width:80%;
    display:inline;
    margin-top: 2%;
    float:left;
    margin-left:10%;
    height: 70%;
    background-color: #ccccff;
}

.meus_itens th {
    width: 25% ;
    padding: 10px ;
}

.meus_itens .no_item_message{
    position: absolute;
    margin-top: 15%;
    margin-left: 35%;
    float: left;
}
.meus_itens .picture{
    max-width: 100px;
    max-height: 100px;
}

.button3 {
    float:right;
    margin-right: 10%;
    display: inline-block;
    border-radius: 4px;
    background-color: cornflowerblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
}
.button3:hover {
    color: white;
    text-decoration: none;
    background-color: dodgerblue;
}

.icon{
    max-width: 20px;
    max-height: 20px;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}

.icon:hover{
    opacity: 1;
}
